* {font-family: Arial, Helvetica, sans-serif, generic;
   font-size: 13px}

h1 {font-family: Arial, Helvetica, sans-serif, generic;
     font-size: 300%;
     font-weight: bold;
     text-align: center}

h2 {font-family: Arial, Helvetica, sans-serif, generic;
    font-weight: bold;
    text-align: center}

h3 {font-family: Arial, Helvetica, sans-serif, generic;
     font-weight: bold;
     text-align: center}

body {font-family: Arial, Helvetica, sans-serif, generic;
     background-color: white;
     color: black}

p {font-family: Arial, Helvetica, sans-serif, generic;
  text-align: center}

div {font-family: Arial, Helvetica, sans-serif, generic;
    font-weight: bold;
    text-align: center}

span {font-family: Arial, Helvetica, sans-serif, generic;
     color: #00CC00}

span.Current {color: #00CC00}

span.Beta {color: red; border:1px black dashed; padding:1px;}

span.Update {color: black;
            font-weight: bold;
            text-align: center}

table {font-family: Arial, Helvetica, sans-serif, generic;
       table-layout: fixed}

table.NavLogo {width: 100%;
               table-layout: auto;
               border: none;}

table.DistroWatch {width: 100%;
                   table-layout: auto;
                   background-color: #f6edc8;
                   border: 2px silver groove}

table.qxwrv {width: 100%;
               table-layout: auto;
               border: none;}

table.Info {table-layout: auto;
            width: 100%}

tr.Background {background-color: #fdffe3}

th {font-family: Arial, Helvetica, sans-serif, generic;
   font-weight: normal;
   text-align: left;
   table-layout: auto;
   width: 11em;
   border: 1px #666666 solid;
   white-space: nowrap}

th.News {font-weight: bold;
        text-align: center;
        width: 12%;
        vertical-align: middle;
        background-color: #fdffe3;}

th.NavMenu {text-align: left;
            width: 12%;
            vertical-align: middle;
            border: 2px solid #C0C0C0;
            padding-left: 6px;
            background-color: #fdffe3}

th.NavMenuRTL {text-align: right;
            width: 12%;
            vertical-align: middle;
            border: 1px solid #C0C0C0;
            padding-left: 6px;
            background-color: #fdffe3}

th.TablesTitle {text-align: left;
                width: 100%;
                vertical-align: middle;
                padding-left: 6px;
                background-color: #fdffe3;
                border: 2px solid silver}

th.Invert {font-weight: bold;
           background-color: #0B3B24;
           color: white;
           width: 100%;
           text-align: center}

th.vyayfdu {font-weight: bold;
           background-color: #0B3B24;
           color: white;
           width: 100%;
           text-align: center}

th.TablesInvert {font-weight: bold;
                 background-color: #0B3B24;
                 color: white;
                 text-align: center;
                 width: 11em;
                 white-space: nowrap}

th.Info {font-weight: bold;
         text-align: left;
         width: 20%}

th.TablesIcon {font-weight: bold;
               text-align: center}

td {font-family: Arial, Helvetica, sans-serif, generic;
    font-weight: normal;
    table-layout: auto;
    /* width: 6em; */
    border: 1px #666666 solid;
    margin: 2px 2px}

td.Invert {font-weight: bold;
           background-color: #0B3B24;
           color: white;
           width: 100%;
           text-align: center}

td.TablesInvert {font-weight: bold;
                 background-color: #0B3B24;
                 color: white;
                 text-align: center;
                 width: 6em;
                 white-space: nowrap}

td.TablesTitle {text-align: left;
                width: 100%;
                vertical-align: middle;
                padding-left: 6px;
                background-color: #fdffe3;
                border: 2px solid silver}

td.lvvggmaoz {text-align: left;
                width: 100%;
                vertical-align: middle;
                padding-left: 6px;
                background-color: #fdffe3;
                border: 2px solid silver}

td.Note {width: 100%}

td.News {width: 88%;
         word-wrap: break-word;
         background-color: #f6edc8}

td.Logo {font-weight: bold;
        text-align: center;
        width: 6%}

td.qxwrv {font-weight: bold;
          text-align: center;
          border: none;
          width: 100%}

td.TableMediumLogo {font-weight: bold;
                   text-align: center;
                   width: 10%;
                   height: 30px;
                   margin-top: 2px;
                   margin-right: 2px;
                   margin-bottom: 2px;
                   margin-left: 2px;
                   padding-top: 2px;
                   padding-right: 2px;
                   padding-bottom: 2px;
                   padding-left: 2px}

td.Current {color: #00cc00; }

td.Beta {color: red; border-style:dashed; border-color:red; }

td.Info {width: 100%}

td.TablesIcon {font-weight: bold;
               text-align: center}
                         
td.Date { white-space: nowrap; }

input {background-color: #fdffe3;
       color: #0000CC;
       vertical-align: middle}

a:hover {text-decoration: underline;
               color: #194775}
